* Structure */
.example-container {
  position: relative;
  box-shadow: none;
}
.alert-success
{
  width: 20%;
    margin: auto;
    background-color: green;
    color: #fff;
}

mat-icon
{
  cursor: pointer;
  margin-left: 5px;
}

.example-table-container {
  position: relative;
  /* min-height: 200px;
  max-height: 400px; */
  overflow: auto;
}

#table , .material-table-container{
  width: 80%;
  margin: auto;
}

.mat-paginator {
  /* width: 80%; */
  margin: auto;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}


.mat-column-created {
  max-width: 124px;
}

.btn-add
{
  text-align: right;
  width: 80%;
    margin: auto;
}

.btn-add button
{
  border: none;
    background-color: blue;
    color: #fff;
    border-radius: 14px;
    margin-bottom: 20px;
}

.header-title
{
  text-align: center;
  margin-top: 20px;
  /* padding: 5px 20px; */
  padding: 10px 5px;
}

.img
{
  border-radius: 50%;
  padding: 5px;
}


scroll-container {
  flex-grow: 0;
  flex-shrink: 0;
}

scroll-container.full {
  flex-basis: auto;
}

scroll-container.part {
  flex-basis: 20px;
}

:host {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

.mat-header-row {
  min-height: 34px !important;
  background-color: #960528 !important;
}

.mat-row {
  background-color: #ffffff;
  min-height: 50px !important;
}

.mat-header-cell {
  color: #ffffff;
  font-size: 15px;
}

.search-input-table {
    width: 90%;
    padding: 5px 5px 5px 15px;
    border: 1px solid #000;
    border-radius: 20px;
    background: transparent;
    color: #000;
    font-weight: 600;
    font-family: "Font Awesome 5 Free", "Open Sans", arial, sans-serif;
    font-size: 12px;
    margin-bottom: 10px;
}
